@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
.main {
  width: 100vw;
  height: 100vh;
  background-color: #cb0100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 300px;
}
